<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{username}}</h2>
    </div>
</div> 
   
    {{#if posts.length}}
        <div class="col-md-6">
            <h3>Current Posts</h3>
            
            {{#each posts as |post|}}
            <ul>
                <div class="row mb-2 post-list">
                    <div class="col-md-8">
                        <h4><a href="/post/{{post.id}}">{{post.post_title}}</a></h4>
                    </div>
                    <div class="col-md-4">
                        {{!-- <button class="btn btn-danger" type="button" id="delete-button">Delete</button> --}}
                    </div>
                </div>
            </ul>
            {{/each}}
        </div>
        {{else}}
            <p>No posts yet.</p>
    {{/if}}

        <div class="form-group">
            <button class="btn btn-danger" type="button" id="delete-button">Delete</button>
            {{!-- <button class="btn btn-primary" type="create-post">Create</button> --}}
            {{> newPostForm}}
        </div>
</div>

<script src="./js/dashboard.js"></script>
<script src="./js/deletePost.js"></script>
<script src="./js/addPost.js"></script>
   