<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <div class="form login-form">
      <div class="form-group">
        <label for="user-login">Username:</label>
        <input class="form-input" type="text" id="user-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="login-button"type="button">login</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Sign-up</h2>

    <div class="form signup-form">
      <div class="form-group">
        <label for="user-signup">Username:</label>
        <input class="form-input" type="text" id="user-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="submit" type="submit">signup</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>